/* Global Styles */
body {
    font-family: 'Lato', sans-serif;
    background-color: #34363B;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Flexbox Utility */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home Page */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background: url('/images/big-sur-horizon.jpg') center/cover no-repeat fixed;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero-title, .hero-banner {
    position: relative;
    z-index: 2;
}

.hero-title {
    font-size: 5rem;
    font-weight: 300;
    color: #F1F3F9;
    padding: 100px 0;
    margin: 0;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1.5s ease-in-out;
}

/* Navigation */
.hero-banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    color: #F1F3F9;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-button {
    margin: 0 5px;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 5px 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-button:hover {
    transform: scale(1.2);
}

.hero-banner--scrolled {
    background-color: #26282B;
}

.website-name {
    position: absolute;
    left: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    padding-left: 10px;
    opacity: 0;
    color: #F1F3F9;
    transition: opacity 0.3s ease;
}

.website-name--visible {
    opacity: 1;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .hero-banner {
        justify-content: center; /* Center buttons on smaller screens */
        padding: 0 5px; /* Adjust padding for smaller screens */
    }

    .nav-button {
        font-size: 0.9rem; /* Smaller font size for mobile */
        padding: 5px 8px; /* Adjust padding for smaller buttons */
        margin: 0 3px; /* Reduce margin between buttons */
    }
}

/* Scroll Down Button */
.scroll-down-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
    transition: transform 0.3s ease-in-out;
}

.scroll-down-button img {
    width: 40px;
    height: 40px;
}

.scroll-down-button:hover {
    transform: translateX(-50%) translateY(10px);
}

/* About Section */
.about {
    text-align: left;
    width: 60%; /* Adjust width as needed */
    margin-left: 5%; /* Center the container */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.about-title {
    font-size: 3rem;
    margin: 0;
    font-weight: 200;
    color: #F1F3F9;
}

.about-text {
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.7;
    color: #F1F3F9;
}

/* Image Section */
.image {
    width: 45%;
    margin-left: 5%;
}

.image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Main Content */
.content {
    min-height: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    height: 100vh;
}

/* Photography Page */
.grid-container {
    column-count: 4;
    column-gap: 15px;
    padding: 15px;
    line-height: 0;
}

.image-container {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-bottom: 15px;
}

.image-container:hover {
    transform: scale(1.03);
}

.image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(38, 40, 43, 0.66);
    color: #F1F3F9;
    line-height: normal;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    text-align: center;
}

.image-container:hover .image-description {
    transform: translateY(0);
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    background-color: #242527;
}

/* Contact Page */
.form {
    width: 50%;
    margin: auto;
    flex-direction: column;
}

.form label {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 200;
    color: #F1F3F9;
}

.form input, .form textarea {
    font-size: medium;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form textarea {
    resize: none;
    height: 200px;
}

.form input[type="submit"] {
    margin-top: 10px;
    background-color: #26282B;
    color: #F1F3F9;
    cursor: pointer;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.modal-image {
    max-width: 70%;
    max-height: 100%;
}

.modal-description {
    max-width: 30%;
    padding: 5%;
    font-size: 3vw;
    font-weight: lighter;
    color: #F1F3F9;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #F1F3F9;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.modal-close:hover {
    transform: scale(1.2);
}

.content-container.blurred {
    filter: blur(5px);
}