/* HOME PAGE */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: url('/images/big-sur-horizon.jpg') center/cover fixed;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero-title, .hero-banner {
    position: relative;
    z-index: 2;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #34363B;
    margin: 0;
}

.hero-title {
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    color: #F1F3F9;
    padding: 100px;
    margin: 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1.5s ease-in-out;
}

.hero-banner {
    position: fixed;
    height: 50px;
    inset: 0 0 auto 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-button {
    margin: 5px;
    font: 400 1.1rem/1.5 'Lato', sans-serif;
    color: #F1F3F9;
    text-decoration: none;
    padding: 5px 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-button:hover {
    transform: scale(1.2);
}

.hero-banner--scrolled {
    background-color: #26282B;
}

.website-name {
    position: absolute;
    font: 400 1.1rem/1.5 'Lato', sans-serif;
    padding-left: 10px;
    left: 10px;
    opacity: 0;
    color: #F1F3F9;
    transition: opacity 0.3s ease;
    font-weight: 400;
}

.website-name--visible {
    opacity: 1;
}

.scroll-down-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out;
    color: transparent;
}

.scroll-down-button img {
    width: 40px;
    height: 40px;
}

.scroll-down-button:hover {
    transform: translateX(-50%) translateY(10px);
}

.about {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5%;
}

.about-title {
    font-size: 3rem;
    margin: 0;
    font-weight: 200;
    text-align: left;
    color: #F1F3F9;
}

.about-text {
    text-align: left;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.7;
    color: #F1F3F9;
}

.image {
    width: 45%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    height: calc(100vh - 50px);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
}

/* CONTACT PAGE */

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form label {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 200;
    color:#F1F3F9
}

.form input, .form textarea {
    font-size: medium;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form textarea {
    font-size: medium;
    resize: none;
    height: 200px;
}

.form input[type="submit"] {
    margin-top: 10px;
    background-color: #26282B;
    color: white;
    cursor: pointer;
}